---
import "normalize.css/normalize.css";
import "@fontsource/geist-sans";
import "@fontsource-variable/fira-code";

import "../styles/variables.css";
import "../styles/global.css";
import "../styles/article.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <slot />
  </body>
</html>
