---
import Link from "./Link.astro";
---

<footer>
  <p>
    Hecho con amor 💖 por <Link href="https://github.com/RepolloDev">@RepolloDev</Link>
  </p>
</footer>

<style>
  footer {
    background-color: var(--color-base-100);
    margin-top: 2rem;
    padding: 1.5rem 1rem;
  }

  p {
    margin: 0;
    text-align: center;
  }
</style>
