---
import "normalize.css/normalize.css";
import "@fontsource/geist-sans";
import "@fontsource-variable/fira-code";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import "@/web/styles/variables.css";
import "@/web/styles/article.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    font-family: "Geist Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-base-200);
  }

  code {
    font-family: "Fira Code", monospace;
  }

  main {
    min-height: 100vh;
  }

  header,
  main,
  footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 768px) {
    header,
    main,
    footer {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  @media (min-width: 1024px) {
    header,
    main,
    footer {
      padding-left: 8rem;
      padding-right: 8rem;
    }
  }

  @media (min-width: 1280px) {
    header,
    main,
    footer {
      padding-left: 12rem;
      padding-right: 12rem;
    }
  }

  @media (min-width: 1536px) {
    header,
    main,
    footer {
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }
</style>
