---
import { Icon } from "astro-icon/components";
---

<div class="app-search" search-button>
  <div class="search-container">
    <Icon name="search" size={16} />
    <span class="message">
      Type <kbd>/</kbd> to search
    </span>
  </div>
</div>

<style>
  .app-search {
    outline: 1px solid var(--color-border);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--color-text-secondary);
    cursor: pointer;
  }

  .search-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .message {
    font-size: 0.8rem;
    width: 10rem;
  }

  @media (max-width: 768px) {
    .app-search {
      padding: 0.5rem;
    }

    .message {
      display: none;
    }
  }
</style>
<script>
  function openDialog() {
    alert("Opening search dialog");
  }

  const searchButton = document.querySelector("[search-button]");
  searchButton?.addEventListener("click", openDialog);
</script>
