<footer class="footer mt-8 py-8">
  <p class="w-full flex justify-center text-lg">
    Hecho con amor 💖 por <a
      class="inline link link-accent"
      href="https://github.com/RepolloDev">@RepolloDev</a
    >
  </p>
</footer>
