---
import Search from "../action/Search.astro";
import { Icon } from "astro-icon/components";
import Logo from "../ui/Logo.astro";
---

<header
  class="header navbar bg-base-100 bg-opacity-90 sticky top-0 z-50 backdrop-filter backdrop-blur-lg"
>
  <Logo />
  <div class="actions ml-auto">
    <Search />
  </div>
  <div class="links ml-2">
    <a
      target="_blank"
      class="ref btn btn-sm btn-circle"
      href="https://github.com/RepolloDev/Problemas-del-Juez-Patito"
    >
      <Icon name="github" size={24} />
    </a>
  </div>
</header>
