<span
  class="border-[1px] rounded-lg px-2 py-0.5 border-info bg-base-300 text-xs sm:text-sm text-info text-opacity-80 hover:bg-info hover:text-info-content hover:font-bold transition-all"
>
  <slot />
</span>
