:root {
  --color-text: #e6edf3;
  --color-text-secondary: #8e98a2;

  --color-base-100: #161b22;
  --color-base-200: #0d1117;
  --color-base-300: #0c0f15;

  --color-border: #32383f;
  --color-accent: #4493f8;
  --color-accend-dark: #121d2f;
}