/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --callout-bg-color: #f2f3f50f !important;
}

body {
  background: #0d1117;
  color: #e6edf3;
  font-family: "Pitagon Sans", sans-serif;
}

header,
main,
footer {
  @apply px-5 md:px-20 lg:px-52 xl:px-60;
}

h1 {
  @apply text-3xl md:text-4xl xl:text-5xl;
  @apply font-bold;
  @apply my-5 md:my-10 lg:my-16;
}

h2 {
  @apply text-2xl md:text-3xl xl:text-4xl;
  @apply font-bold;
  @apply my-5 md:my-10 lg:my-16;
}

code[data-language] {
  font-family: "Fira Code Variable", monospace;
}

mjx-container {
  overflow-x: auto;
  padding: 1rem;
}
